


<div class="row justify-content-center">
    <div class="col-auto">


        
        <br/><br/><br/><br/><br/>
  <div class="container marketing">

    <h1 style="color: black; font-size: 63px; text-align: center;">Learn the basics!</h1><br/>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Bullish +</h2>
        <p>Positive trend for the share on the stock market</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>FOMO</h2>
        <p>Fear Of Missing Out</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Diamond hands</h2>
        <p>Having and strong position and holding it for the long term</p>
      </div><!-- /.col-lg-4    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>  -->

      <div class="col-lg-4">
        <h2>Bearish - </h2>
        <p>Negative trend for the share on the stock market</p> <br/>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <h2>REITs  </h2>
        <p>Real Estate Investment Trusts</p> <br/>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <h2>Paper hands</h2>
        <p>Having and insecure position and panic selling</p> <br/>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <h2>Ask </h2>
        <p>The lowest price a seller is willing to accept when selling a security (stock).</p> <br/>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <h2>Dollar Cost Average</h2>
        <p>Adding money to the shares over time regardless the price</p><br/>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <h2>Blue chip stock</h2>
        <p>A stock with a good record of keeping up with the market,usually low risk low reward</p><br/>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <h2>Bid</h2>
        <p>The highest price a buyer is willing to accept when purchasing a security (stock).</p> <br/>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <h2>Spread </h2>
        <p>The difference between Ask and Bid.</p> <br/>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <h2>Crash</h2>
        <p>A large sell-off 10% or more in the stock market in a single day</p> <br/>

        

    </div><!-- /.row -->
  
  </div>

    </div>
    <h1 style="color: black; font-size: 63px; text-align: center;">Useful resources</h1><br/>

    <div class="list-group">
     
      <a href="https://investors.com" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action">Investors</a>
      <a href="https://thecollegeinvestor.com/" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action">The College Investor</a>
      <a href="https://investors.com" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action">Investors</a>
      <a href="https://thecollegeinvestor.com/" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action">The College Investor</a>
    </div>
  </div>
  <br/>



  