.chart{
    margin: auto;
    width: 50%;
    
    padding: 10px;    
}
.mid{
    margin: 0;
  position: absolute;
  
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}