<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet> </router-outlet>

<header>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
    <a class="EZ" routerLink= "home">EZ Market </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink= "accounts">Accounts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="investort">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
      </header>

     
      <body>
        <div id="page-container">
          <div id="content-wrap">
            <!-- all other page content -->
          </div>
          <footer class="text-center text-white" style="background-color: #2eb82e">
            <!-- Grid container -->
          
            <!-- Grid container -->
            © 2020 Copyright: David Mercado
            <!-- Copyright -->
          
            <!-- Copyright -->
          </footer>
        </div>
       </body>
       
      


