<br/><br/>
<br/>
<br/>

<h1 > ETF Holdings</h1>


<!-- Finnhub Widget BEGIN -->
<div style="border: 1px solid #e0e3eb; height: 1024px; width: 100%">
    <iframe width="100%" frameBorder="0"
            height="100%"
            src="https://widget.finnhub.io/widgets/etf-holdings?symbol=SPY&theme=dark" title="SPY Holdings Data by Finnhub Stock API">
    </iframe>
 </div>
 <div style="width: 100%; text-align: center; margin-top:10px;">
        SPY Holdings Data by <a href="https://finnhub.io/" target="_blank" style="color: #1db954;">Finnhub Stock API</a>
 </div>
<!-- Finnhub Widget END -->

<html>
    <!-- 
    <head>
        <script src="script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
  
      
        <div class="d-flex justify-content-center">
            <div class="spinner-border" 
                 role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
       

        <div style="width: 150px;">
        <table id="stocks"></table>
        </div>
        
   
    </body> -->



    

</html>

