<br/><br/>
<br/>
<br/>

<h1 > My Portfolio</h1>

<html>
    <head>
        <script src="script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
  
       <!-- <h1>List of stocks</h1>-->
        <div class="d-flex justify-content-center">
            <div class="spinner-border" 
                 role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
       

        <div style="width: 150px;">
        <table id="stocks"></table>
        </div>
        

    </body>
</html>

<script>

</script>